bokeh==2.4.3
dask[distributed]>=2023.1.0
fastparquet>=2022.12.0
ipykernel>=6.19.4
Jinja2>=3.1.2
matplotlib>=3.6.2
networkx>=2.8.8
nltk>=3.6.5
numpy>=1.24.1
pandas>=1.5.2
pyarrow>=10.0.1
scikit-learn>=1.2.0
scipy>=1.9.3
seaborn>=0.12.1
vaderSentiment>=3.3.2
black>=23.1.0
